In [4]:
'''
a=7
b=10
print(a+b)
'''

'\na=7\nb=10\nprint(a+b)\n'

In [5]:
#datatypes
a=10#int
name="apple"#string
pi=3.14#float
b=True#bool

In [9]:
print(b)

True

In [22]:
print("hello world")

hello world

In [19]:
type(str(a))

str

In [28]:
#hello apple
#hello 10

#method 1
print("hello "+name)
print("hello "+str(a))

print("---------------------------------")
#method 2
print("hello",name)
print("hello",a)

print("---------------------------------")
#method 3
print("hello %s"%name)
print("hello %d"%a)

print("---------------------------------")
#method 4
print("hello {}".format(name))
print("hello {}".format(a))

hello apple
hello 10
---------------------------------
hello apple
hello 10
---------------------------------
hello apple
hello 10
---------------------------------
hello apple
hello 10

In [ ]:
+ - * / % 
and or not
> < >= <= == !=

In [33]:
n='4'
ans=int(n*3)+int(n*2)+int(n)
print(ans)

492

In [36]:
n=4
ans=int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n
print(ans)

492

In [53]:
num=int(input("Enter the value for num :"))
if num%4==0:
    print("Divisible by 4 and also even")
elif num%2==0:
    print('even')
else:
    print('odd')

Enter the value for num :5
odd

In [45]:
type(num)

int

In [ ]:
The area of the circle with radius 5 cm is 80 sq.cm

#### Play rock paper scissors lizard spock

Scissors cuts paper.<br>
Paper covers rock.<br>
Rock crushes lizard.<br>
Lizard poisons Spock.<br>
Spock smashes scissors.<br>
Scissors decapitates lizard.<br>
Lizard eats paper.<br> 
Paper disproves Spock.<br> 
Spock vaporizes rock.<br> 
Rock crushes scissors.<br>

In [59]:
cnt=0
while True:
    num=int(input("Enter the value for num :"))
    if num==15:
        print("Goodbye...")
        break
    elif num==25:
        print("skipping...")
        continue
    elif num==10:
        cnt+=1
        pass
    if num%4==0:
        print("Divisible by 4 and also even")
    elif num%2==0:
        print('even')
    else:
        print('odd')

print("Count :",cnt)

Enter the value for num :78
even
Enter the value for num :96
Divisible by 4 and also even
Enter the value for num :10
even
Enter the value for num :25
skipping...
Enter the value for num :10
even
Enter the value for num :20
Divisible by 4 and also even
Enter the value for num :12
Divisible by 4 and also even
Enter the value for num :10
even
Enter the value for num :15
Goodbye...
Count : 3

In [ ]:
https://github.com/sharmasaravanan/Agilisium_python
    
https://github.com/sharmasaravanan/Machine_learning

In [1]:
string function
list
tuple
for loop

SyntaxError: invalid syntax (<ipython-input-1-9d3173759007>, line 1)

In [30]:
name=" elEpHaNT "

In [10]:
name[2:6:2]

'EH'

In [13]:
name[::-1]

'TNaHpEle'

In [14]:
name

'elEpHaNT'

In [33]:
name.capitalize()
name.casefold()
name.lower()
name.upper()
name.lower().count('e')
name.endswith(".txt")
name.startswith("El")
name.find("E")
name.index("E")
name.isalnum()
name.replace("E",'z')
name.rstrip()
name.lstrip()
name.strip()

'elEpHaNT'

In [34]:
sent="apple is a fruit"

In [40]:
sent_split=sent.split()

In [41]:
sent_split

['apple', 'is', 'a', 'fruit']

In [44]:
' '.join(sent_split)

'apple is a fruit'

1. palindrome 
2. "Elephant is an animal ."  -> ". animal an is Elephant"

In [ ]:
name==name[::-1]
print(' '.join(name.split()[::-1]))

In [46]:
import random as r
comp = r.randint(0,100)

In [139]:
r.randint(100,999)

597

In [51]:
L=[]
L=list()

In [52]:
L

[]

In [53]:
l=['a','b','c','apple','ball',"cat",1,2,3]

In [54]:
l

['a', 'b', 'c', 'apple', 'ball', 'cat', 1, 2, 3]

In [55]:
l[2:6]

['c', 'apple', 'ball', 'cat']

In [56]:
len(l)

9

In [60]:
l.index("ball")

4

In [62]:
l[4]="bat"

In [63]:
l

['a', 'b', 'c', 'apple', 'bat', 'cat', 1, 2, 3]

In [65]:
del l[8]

In [66]:
l

['a', 'b', 'c', 'apple', 'bat', 'cat', 1, 2]

In [67]:
l.append(4)

In [69]:
l.insert(5,"dog")

In [70]:
l

['a', 'b', 'c', 'apple', 'bat', 'dog', 'cat', 1, 2, 4]

In [71]:
l.pop()

4

In [73]:
l.remove("dog")

In [74]:
l

['a', 'b', 'c', 'apple', 'bat', 'cat', 1, 2]

In [76]:
L.append("apple")

In [78]:
L.clear()

In [79]:
L

[]

In [80]:
l.count('a')

1

In [81]:
l[::-1]

[2, 1, 'cat', 'bat', 'apple', 'c', 'b', 'a']

In [82]:
l

['a', 'b', 'c', 'apple', 'bat', 'cat', 1, 2]

In [84]:
l.reverse()

In [85]:
l

[2, 1, 'cat', 'bat', 'apple', 'c', 'b', 'a']

In [86]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [87]:
l

[2, 1, 'cat', 'bat', 'apple', 'c', 'b', 'a']

In [88]:
l1=["apple","mango","pineapple"]

In [89]:
l+l1

[2, 1, 'cat', 'bat', 'apple', 'c', 'b', 'a', 'apple', 'mango', 'pineapple']

In [90]:
l.extend(l1)

In [91]:
l

[2, 1, 'cat', 'bat', 'apple', 'c', 'b', 'a', 'apple', 'mango', 'pineapple']

In [92]:
t=("apple","mango","pineapple")

In [93]:
t

('apple', 'mango', 'pineapple')

In [94]:
l1

['apple', 'mango', 'pineapple']

In [95]:
t[1:]

('mango', 'pineapple')

In [96]:
del t[1]

TypeError: 'tuple' object doesn't support item deletion

In [97]:
t[1]="papaya"

TypeError: 'tuple' object does not support item assignment

In [102]:
for n in range(len(name)):
    #print("hi")
    print(n)

0
1
2
3
4
5
6
7
8
9

In [110]:
for idx,element in enumerate(t[1:]):
    print(idx,element,sep="\t")

0	mango
1	pineapple

In [108]:
t

('apple', 'mango', 'pineapple')

In [109]:
if "apple" in t:
    print(t)
else:
    print("NA")

('apple', 'mango', 'pineapple')

In [111]:
d=dict()

In [115]:
d={'a':"apple","b":["ball","bat"],3:"cat",'c':6,3:"dog"}

In [116]:
d

{'a': 'apple', 'b': ['ball', 'bat'], 3: 'dog', 'c': 6}

In [117]:
d['a']

'apple'

In [118]:
d['b']

['ball', 'bat']

In [119]:
d["e"]="elephant"

In [120]:
d

{'a': 'apple', 'b': ['ball', 'bat'], 3: 'dog', 'c': 6, 'e': 'elephant'}

In [121]:
d.items()

dict_items([('a', 'apple'), ('b', ['ball', 'bat']), (3, 'dog'), ('c', 6), ('e', 'elephant')])

In [122]:
d.keys()

dict_keys(['a', 'b', 3, 'c', 'e'])

In [123]:
d.values()

dict_values(['apple', ['ball', 'bat'], 'dog', 6, 'elephant'])

In [126]:
for k,v in d.items():
    print(k,v,sep="\t")

a	apple
b	['ball', 'bat']
3	dog
c	6
e	elephant

1. Take two numerical list of different length, print all the common numbers without duplicates.
2. Take a numerical list and create a new list with the elements less than 9 from list1.
3. bday database with two option add and display

In [127]:
a=[1,2,3,4,1,1,2,3,4,5,6,8,9,5,3]
b=[1,1,2,3,4,4,5,6,7,7]

In [128]:
for i in a:
    for j in b:
        if i==j:
            print(i)

1
1
2
3
4
4
1
1
1
1
2
3
4
4
5
6
5
3

In [136]:
c=[]
for i in a:
    if i <9:
            c.append(i)
print(c)

[1, 2, 3, 4, 1, 1, 2, 3, 4, 5, 6, 8, 5, 3]

In [130]:
for i in range(len(a)):
    for j in range(len(b)):
        if a[i]==b[j]:
            print(a[i])

1
1
2
3
4
4
1
1
1
1
2
3
4
4
5
6
5
3

In [135]:
list(set(a)&set(b))

[1, 2, 3, 4, 5, 6]

In [137]:
d=[i for i in a if i<9]

In [138]:
d

[1, 2, 3, 4, 1, 1, 2, 3, 4, 5, 6, 8, 5, 3]

In [ ]:
#functions
#packages
#error handling

In [ ]:
https://w3resource.com/python-exercises/

In [ ]:
#install packages 
pip install <name>

In [ ]:
#data 
pandas
json
xlrd
xlwt
matplotlib
seabourn

In [1]:
import math

In [2]:
math.factorial(5)

120

In [3]:
import math as m

In [4]:
m.factorial(5)

120

In [6]:
from sklearn.ensemble import RandomForestClassifier as rf

In [7]:
from math import factorial,sin,cos

In [8]:
factorial(5)

120

In [9]:
from random import *

In [10]:
randint(0,10)

6

In [11]:
l=["rock","paper","scissor"]

In [13]:
import random as r

In [18]:
r.choice(l)

'scissor'

In [21]:
r.sample("apple",2)

['a', 'l']

In [45]:
def add(a,b,c=None):
    if c:
        print("three args")
        return a+b+c,a*b*c
    else:
        print("two args")
        return(a+b,a*b)

In [49]:
c=int(input("c :"))
d=int(input("d :"))
e=int(input("e :"))
s,m=add(c,d,e)

c :10
d :5
e :2
three args

In [51]:
s

17

In [52]:
m

100

In [40]:
a=10

In [41]:
a

10

In [42]:
a=15

In [43]:
a=10
b=20
11,13,17,19

15

In [59]:
try:
    print(f=5)
    print("hello")
except NameError:
    print("There is a NameError!!!")
except TypeError:
    print("there is a TypeError")
finally:
        print("i am finally block")
    
print("hello")

there is a TypeError
i am finally block
hello

In [63]:
try:
    print(g)
except (SyntaxError,NameError):
    print("error")

error

In [ ]:
boto3

In [1]:
#oops
#file handling -> csv,tsv,json,yml,xlsx,txt,docx,pdf,xml,db,

In [4]:
def show(name):
    print("Name :",name)
def fruit(n,name):
    print(name*n)

In [5]:
show("mango")
fruit(5,"mango")

Name : mango
mangomangomangomangomango

In [17]:
class A:
    def show(self,name):
        self.name = name
        print("Fruit name :",self.name)
    def price(self,cost,name):
        print("Cost of the fruit", name," is ",cost)

In [15]:
a = A()

In [16]:

a.show("apple")
name="mango"
a.hello("papaya")

Fruit name : apple
papaya

In [18]:
class B:
    def __init__(self,name,cost):
        self.name = name
        self.cost = cost
    def show(self):
        print("Fruit name :",self.name)
    def price(self):
        print("Cost of the fruit", self.name," is ",self.cost)
        print(name)

In [21]:
b =  B("pineapple",10)

In [22]:
b.show()

Fruit name : pineapple

In [23]:
b.price()

Cost of the fruit pineapple  is  10
mango

In [24]:
name

'mango'

In [37]:
class parent:
    def method(self,name):
        self.name = name
        print("Calling parent class")
        print("Name :",self.name)

class child(parent):
    def methods(self):
        parent.method(self,"John")
        print("Calling child class")

In [38]:
c = child()

In [39]:
c.methods()

Calling parent class
Name : John
Calling child class

In [42]:

class A:
    def __init__(self, name):
        self.name = name

    def show(self):
        print('name: %s' % (self.name))


class B(A):
    def __init__(self, name, fruit):
        #self.name = name
        A.__init__(self,name)
        self.fruit = fruit

    def showing(self):
        A.show(self)
        print('Fruit: %s' % (self.fruit))


f = B("Sharma", "mango")
f.showing()

name: Sharma
Fruit: mango

In [43]:
class test():
    d = 10
    def __init__(self,b):
        self.b = b
    def add(self):
        print(self.b + test.d )

In [50]:
t = test(25)

In [51]:
t.add()

35

In [46]:
t.b

25

In [52]:
t.d = 25

In [53]:
t.d

25

In [54]:
t.add()

35

In [55]:
import random
print ("Welcome to the game of HANGMAN!!!")
f=open("sowpods.txt",'r+')
lin=f.readlines()
words=[]
for i in lin:
    words.append(i.strip())
count=0
picked = random.choice(words)
print (picked)

Welcome to the game of HANGMAN!!!
FLYSTRIKES

In [56]:
print ("The starting letter of word is ",picked[0])

The starting letter of word is  F

In [57]:
ori = list(picked)

In [58]:
ori

['F', 'L', 'Y', 'S', 'T', 'R', 'I', 'K', 'E', 'S']

In [59]:
ans = list("_"*len(picked))

In [60]:
ans

['_', '_', '_', '_', '_', '_', '_', '_', '_', '_']

In [61]:
guess = 's'

In [62]:
if guess.upper() in ori:
    print('yes')

yes

In [67]:
index=[]
idx=0
for letter in enumerate(ori):
    if letter==guess.upper():
        index.append(idx)
    idx+=1

In [66]:
ori[9]

'S'

In [68]:
index

[3, 9]

In [69]:
for i in index:
    ans[i]=guess.upper()

In [70]:
ans

['_', '_', '_', 'S', '_', '_', '_', '_', '_', 'S']

In [72]:
len(set(picked))+3

12

In [73]:
if "_" not in ans:
    print()

In [85]:
#file handling
#txt,csv,tsv,json,xlsx,yml,db

txt = open("./agilisium.txt","r")

In [86]:
txt.readlines()

['hello!!\n',
 'How are you?\n',
 'I am good\n',
 'how is your day?\n',
 'lffkldsjfkjdsklj\n',
 ' jksdnvljdsnkl']

In [87]:
#csv,tsv,xlsx
import pandas as pd

In [96]:
csvData = pd.read_csv("./fruits_vege.csv",index_col=0,header=0)

In [97]:
csvData

    fruit vegetable    fruits 2 vegetable 2
a   apple     onion       apple       onion
b   mango    potato       mango      potato
c  orange     beans  pine apple      carrot

In [99]:
csvData["fruits 2"]

a         apple
b         mango
c    pine apple
Name: fruits 2, dtype: object

In [102]:
csvData.loc[:,"fruit":"fruits 2"]

    fruit vegetable    fruits 2
a   apple     onion       apple
b   mango    potato       mango
c  orange     beans  pine apple

In [103]:
csvData.iloc[2]

fruit              orange
vegetable           beans
fruits 2       pine apple
vegetable 2        carrot
Name: c, dtype: object

In [105]:
csvData[['fruit','fruits 2' ]]

    fruit    fruits 2
a   apple       apple
b   mango       mango
c  orange  pine apple

In [110]:
tsvData =  pd.read_csv("./fruits_vege.tsv",delimiter="\t",index_col=0)

In [111]:
tsvData

    fruit vegetable    fruits 2 vegetable 2
a   apple     onion       apple       onion
b   mango    potato       mango      potato
c  orange     beans  pine apple      carrot

In [112]:
d={}

In [124]:
d["States"]=["TamilNadu","Andhra Pradesh","Kerala",""]
d["Language"]=["Tamil","Telugu","Malayalam","Kannada"]

In [125]:
d

{'States': ['TamilNadu', 'Andhra Pradesh', 'Kerala', ''],
 'Language': ['Tamil', 'Telugu', 'Malayalam', 'Kannada']}

In [126]:
df = pd.DataFrame(d,index=["TN","AP","KL","KA"])

In [127]:
df

            States   Language
TN       TamilNadu      Tamil
AP  Andhra Pradesh     Telugu
KL          Kerala  Malayalam
KA                    Kannada

In [118]:
df.to_csv("Agilisium.tsv",sep="\t")

In [128]:
excelData = pd.read_excel("./Course Syllabus.xlsx")

In [129]:
excelData

                     Syllabus    Duration
0     Introduction to Python      40 mins
1        Environment creation     20 mins
2    variables and expression     45 mins
3            conditional code     90 mins
4                   fucntions    120 mins
5         loops and iteration     90 mins
6                        List     45 mins
7                      Tuples     45 mins
8             Data Dictionary     45 mins
9               File handling    150 mins
10          importing library     40 mins
11           random libraries     90 mins
12        Sorting, Formatting     45 mins
13                 Statistics     45 mins
14   basics of flask & django     90 mins
15  arrays and graph plotting     90 mins
16            Sample Projects  120 mins\n
17                Total Hours    20 hours

In [130]:
excel = pd.ExcelFile("./Course Syllabus.xlsx")

In [131]:
excel.sheet_names

['Basic Python',
 'Advanced Python',
 'Datascience with Python',
 'Machine Learning',
 'Deep Learning']

In [132]:
ExcelData=pd.read_excel(excel,sheet_name='Deep Learning')

In [133]:
ExcelData

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
2                   Neurons and the Brain         NaN
3                   Non-linear Hypothesis         NaN
4                              perceptron         NaN
5                   Multilayer perceptron         NaN
6               Training a neural network         NaN
7                  Backpropagation primer         NaN
8                Gradients & optimization         NaN
9             3. Deep Learning for images    180 mins
10                       CNN architecture         NaN
11   Overview of modern CNN architectures         NaN
12                       pre-trained CNNs         NaN
13                      Alexnet/Googlenet         NaN
14                            OpenCV + NN         NaN
15              3. Deep Learning for Text    150 mins
16                                    RNN         NaN
17                                   LSTM         NaN
18                                    GRU         NaN
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
22                                    NaN         NaN
23                                  Total  18.5 hours

In [136]:
ExcelData.dropna(inplace=True)

In [137]:
ExcelData

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
9             3. Deep Learning for images    180 mins
15              3. Deep Learning for Text    150 mins
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
23                                  Total  18.5 hours

In [138]:
import json

In [139]:
jsonData = json.load(open("./test.json"))

In [141]:
jsonData["language"]

'EN_US'

In [142]:
import yaml

In [143]:
ymlData =  yaml.load(open("./config_sample.yml"))

In [144]:
ymlData

{'language': 'en',
 'pipeline': 'spacy_sklearn',
 'data': [True, 'yep', 'bye', 'goodbye', False]}

In [145]:
import sqlite3

In [ ]:
#visualization